<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="shortcut icon"
          type="image/png"
          href="{% static 'tomikuvzpevnik/favicon.ico' %}" />
    <title>Tomíkův zpěvník</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Tomíkův zpěvník" />
    <meta name="keywords" content="zpěvník, písničky, texty, akordy" />
    <link rel="stylesheet" href="{% static 'tomikuvzpevnik/utils.css' %}">
    <title>
      {% block title %}Tomíkův zpěvník{% endblock title %}
    </title>
    {% block extra_head %}{% endblock extra_head %}
  </head>
  <body>
    <div style="text-align: center">
      <div class="header">
        {% block header %}{% endblock header %}
      </div>
    </div>
    {% if messages %}
      
    <div id="message-container" class="message-container">
            {% for message in messages %}
              <div class="message-item {{ message.tags }}">
                {{ message }}
                <button class="close-button" onclick="this.parentNode.remove()">&times;</button>
              </div>
            {% endfor %}
      </div>
    {% endif %}
    <div class="content">
      {% block content %}
      {% endblock content %}
    <div>
  </body>
</html>
