<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %} 
        <script src="{% static 'tomikuvzpevnik/songList.js' %}"></script>   
        <link rel="shortcut icon" type="image/png" href="{% static 'tomikuvzpevnik/favicon.ico' %}"/>         
        <link rel="stylesheet" href="{% static 'tomikuvzpevnik/style.css' %}">
        <link rel="stylesheet" href="{% static 'tomikuvzpevnik/menu.css' %}">
        <link rel="stylesheet" href="{% static 'tomikuvzpevnik/dropdown.css' %}">
        <title>Tomíkův zpěvník</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="control" style="justify-items: center;grid-template-columns: 1fr 0.5fr 1fr;">
            <div style="justify-self: start;">
                <div class="button_no_border" id="open_pdf_menu">
                    <img src="{% static 'tomikuvzpevnik/icons/pdf_songbook.svg' %}">
                </div>
            </div>
            <div class="button_no_border" style="justify-self: ceter;align-self:center">
                <a href="./addSong.html" class="anchor"><span style="font-size:25px">+</span></a>
            </div>
            <div style="justify-self: end;align-self:center">
                <div class="button_no_border" id="account-button">
                    <img src="{% static 'tomikuvzpevnik/icons/account.svg' %}">
                </div>
            </div>
        </div>
        <div id="hide"></div>
        <div id="sidebar">
            <div id="sidebar_menu">
                <div class="menu_item">
                    <div class="menu_button" id="close_pdf_menu">
                        Zpět
                    </div>
                </div>
                <div class="menu_item">
                    <a href="./index.html?inProgress=1">
                        <div class="menu_button">
                            
                        </div>
                    </a>
                </div>
                <div class="menu_item">
                    <a href="./handleDownload.html">
                        <div class="menu_button">
                            Stáhnout zpěvník v aktuální verzi
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <h2 style="text-align:center">Tomíkův zpěvník</h3>
            <h3 style="text-align:center">&#127925; Seznam písniček &#127925;</h3>
            <div class="search">
                <input type="search" placeholder="Hledat..." id="searchInput"/>
            </div>
            <div class="list_container">
                {% if song_list %}
                <div class="song_list">
                    {% for song in song_list %}
                    <div class="song_item" owner="{{ song.owner }}">
                        <a href="{% url 'tomikuvzpevnik:song_page' song.id %}">
                            <div class="song_ref">
                                <span class="song_name">{{ song.title }}</span>
                                <span class="song_author">{{ song.artist }}</span>
                                <span class="owner">{{ song.owner }}</span>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                Nebyly nalezeny žádné písničky.
                {% endif %}
            </div>
            <script src="{% static 'tomikuvzpevnik/menu.js' %}"></script>   
        </body>
        </html>