<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ name }}</title>
    <meta charset="UTF-8" />
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'tomikuvzpevnik/favicon.ico' %}" />
    <link rel="stylesheet" href=" {% static 'tomikuvzpevnik/utils.css' %}" />
    <link rel="stylesheet" href=" {% static 'tomikuvzpevnik/songView.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src=" {% static 'tomikuvzpevnik/transpose.js' %}"></script>
  </head>
  <body>
    <div class="song">
      <div class="header">
        <div class="header-left">
          <a href="{% url 'tomikuvzpevnik:index' %}" id="return" class="button_no_border"><span><img src=" {% static 'tomikuvzpevnik/icons/back_arrow.svg' %}" style="width:50%;height:50%;margin-top:17px;" /></span></a>
        </div>
        <div class="header-right">
          <a href="{% url 'tomikuvzpevnik:song_random' %}" class="button_no_border square_medium"><img src=" {% static 'tomikuvzpevnik/icons/random_song.svg' %}" style="width:95%"></a>
          {% if editable %}
          <a href="{% url 'tomikuvzpevnik:song_edit' song.id %}" class="button_no_border square_medium"><img src=" {% static 'tomikuvzpevnik/icons/edit_song.svg' %}" style="width:90%"></a>
          {% endif %}
          <div class="transposition" style="justify-self: end;">
            <div style="grid-area: t_label;"><img src=" {% static 'tomikuvzpevnik/icons/transpose.svg' %}" style="width:100%;top:10px;"></div>
            <div style="grid-area: down;text-align: right;">
              <button onclick="transpose(-1)" class="button_no_border trans_button">-</button>
            </div>
            <div class="trans" id="trans" style="text-align:center;grid-area: number;">0</div>
            <div style="grid-area: up;text-align: left;">
              <button onclick="transpose(+1)" class="button_no_border trans_button">+</button>
            </div>
          </div>
          <button onclick="scrollpage()" class="button_no_border square_medium"><img src=" {% static 'tomikuvzpevnik/icons/scroll_down.svg' %}" style="width:110%"></button>
        </div>
      </div>

      <h1 id="song_name">{{ song.title }}</h1>
      <h3 id="author">{{ song.artist }}</h3>

      <div class="songtext">
        <div class="song_container">
          {% if song.capo != 0 %}
            <div id="capo">Capo {{ song.capo }}</div>
          {% endif %}
          {{ song.get_html_text|safe }}
        </div>
      </div>
    </div>
  </body>
</html>
