
.form{
    display: grid;
    grid-template:
        "title" 55px 
        "artist" 55px
        "capo" 55px
        "song_text" auto
        "edit" 55px;
    height: -moz-calc(100vh - 120px);
    height: -webkit-calc(100vh - 120px);
    height: -o-calc(100vh - 120px);
    height: calc(100vh - 120px);
}

@media (min-width: 600px) {
.form {
    display: grid;
    grid-template:
        "title title" 55px
        "artist capo" 55px
        "song_text song_text" auto
        "edit edit" 55px;
    grid-template-columns: 3fr 1fr;
    max-width: 800px;
    column-gap: 20px;
 
}

form {
    display: grid;
    justify-content: space-around;
}
}

.input_field {
    padding: 5px;
}

label{
    color:var(--text2);
    font:Arial bold;
}

.input_field input {
    border-radius: 2px;
    border: 2px solid var(--accent1);
    width: -moz-calc(100% - 14px);
    width: -webkit-calc(100% - 14px);
    width: -o-calc(100% - 14px);
    width: calc(100% - 14px);
    padding: 5px;
}

.input_field textarea {
    border-radius: 2px;
    border: 2px solid var(--accent1);
    display: block;
    width: -moz-calc(100% - 8px);
    width: -webkit-calc(100% - 8px);
    width: -o-calc(100% - 8px);
    width: calc(100% - 8px);
    height: -moz-calc(100% - 22px);
    height: -webkit-calc(100% - 22px);
    height: -o-calc(100% - 22px);
    height: calc(100% - 22px);
    resize: none;
}

#err_list{
    color:#ff2222
}

#form_title {
    grid-area: title;
}

#form_owner {
    grid-area: owner;
}

#form_artist {
    grid-area: artist;
}

#form_capo {
    grid-area: capo;
}

#form_lyrics {
    grid-area: song_text;
}

#form_lyrics label {
    display: block;
}

input.button_with_border{
    grid-area:edit;
    border-radius: 2px;
    width: auto;
    padding: 5px;
    margin:5px;
}