#sidebar-left {
    position: fixed;
    background: var(--background0);
    height: 100%;
    width: 200px;
    top: 0px;
    left: 0px;
    z-index: 20;
    left: -200px;
    transition: 0.3s;
}

#sidebar-left.active{
    left:0px;
    box-shadow: 0px 0px 10px #aaaaaa;
}

#sidebar-left.active{
    left:0px;
    box-shadow: 0px 0px 10px #aaaaaa;
}

#hide{
    transition: 0.2s;
    background:rgba(0,0,0,0);
}

#hide.active{
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background:rgba(0,0,0,0.05);
    transition: 0.5s;
}

#sidebar-left_menu {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(3, 60px);
    position: relative;
    top: 10px;
    grid-row-gap: 10px;
    padding: 10px;
    grid-template-columns: 180px;
}

.menu_item {
    width:100%;
}

#sidebar-right {
    position: fixed;
    background: var(--background0);
    height: 100%;
    width: 400px;
    top: 0px;
    right: -400px;
    z-index: 20;
    transition: 0.3s;
}

#sidebar-right.active{
    right:0px;
    box-shadow: 0px 0px 10px #aaaaaa;
}

#sidebar-right.active{
    right:0px;
    box-shadow: 0px 0px 10px #aaaaaa;
}


#sidebar-right_menu {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(3, 60px);
    position: relative;
    top: 10px;
    grid-row-gap: 10px;
    padding: 10px;
}

