{% extends "tomikuvzpevnik/base.html" %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href=" {% static 'tomikuvzpevnik/accounts.css' %}">
{% endblock extra_head %}
{% block header %}
    <div class="header-left">
        <a href="{% url 'tomikuvzpevnik:index' %}"
           id="return"
           class="button_with_border">
            <span>
                <img src="{% static 'tomikuvzpevnik/icons/back_arrow.svg' %}"
                     width="50px"
                     height="50px"
                     style="height:50%;
                            width:50%;
                            margin-top:17px" />
            </span>
        </a>
    </div>
    <div class="header-right">
        
    </div>
</div>
<div class="header-right"></div>
{% endblock header %}
