{% extends "tomikuvzpevnik/base.html" %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet"
          href=" {% static 'tomikuvzpevnik/accountForm.css' %}">
{% endblock extra_head %}
{% block header %}
    <div class="header-left">
        <a href="{% url 'tomikuvzpevnik:index' %}"
           id="return"
           class="button_with_border">
            <span>
                <img src="{% static 'tomikuvzpevnik/icons/back_arrow.svg' %}"
                     width="50%"
                     height="50%"
                     style="margin-top:17px" alt=""/>
            </span>
        </a>
    </div>
    <div class="header-right"></div>
{% endblock header %}
